<div class="container border border-top-0">
  <div class="view-title pt-3">
    <h1>{{ "Employee Detail" | uppercase }}</h1>
  </div>
  <hr />

  <div class="card-body pb-4">
    <div class="card-image">
      <img
        src="https://media.istockphoto.com/id/1131164548/vector/avatar-5.jpg?s=612x612&w=0&k=20&c=CK49ShLJwDxE4kiroCR42kimTuuhvuo2FH5y_6aSgEo="
        alt="image"
      />
    </div>

    <div class="card-info">
      <div class="content">
        <h5><span>Name: </span> <span>Abdullah Al Nomaan</span></h5>
        <h5><span>Designation: </span> <span>JavaScript, Angular</span></h5>
        <h5><span>Department: </span> <span>software engineer</span></h5>
        <h5 class="d-flex align-items-center">
          <span>Status: </span>
          <span *ngIf="'inactive' !== 'inactive'" class="acIn inactive ms-2"
            >Inactive</span
          >
          <span *ngIf="'active' === 'active'" class="acIn active ms-2">Active</span>
        </h5>
      </div>
      <div class="info-btn mt-3 d-flex align-items-center">
        <div class="view-employee">
          <button type="button" class="btn btn-success">
            {{ "Back To Dashboard" | titlecase }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
