<br />
<br />

<div class="p-3 w-50 mx-auto shadow rounded">
  <div class="title-edit d-flex justify-content-between align-items-center">
    <div class="title">
      <h3 class="m-0">{{ "Change Password" | uppercase }}</h3>
    </div>
  </div>

  <hr />

  <div class="w-100">
    <form [formGroup]="myRecForm" (ngSubmit)="onRecFormSubmit()">
      <div class="form-item mb-4">
        <label class="h6" for="name">Edit Name:-</label>

        <!-- form item -->
        <input
          type="text"
          class="form-control"
          placeholder="Enter name..."
          formControlName="password"
        />
        <small
          *ngIf="!formControl?.['password']?.valid && formControl?.['password']?.touched && !formControl?.['password']?.errors?.['minlength']"
          class="text-danger"
        >
          Please enter your password!
        </small>

        <small
          *ngIf="!formControl?.['password']?.valid && formControl?.['password']?.touched && formControl?.['password']?.errors?.['minlength']"
          class="text-danger"
        >
          Enter password minimum 6 character!
        </small>
      </div>

      <div class="form-btn d-flex align-items-center justify-content-between">
        <div class="left-btn">
          <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
