<br />
<br />

<div class="p-3 w-50 mx-auto shadow rounded">
  <div class="title-edit d-flex justify-content-between align-items-center">
    <div class="title">
      <h3 class="m-0">{{ "Forget Password" | uppercase }}</h3>
    </div>
  </div>

  <hr />

  <div class="w-100">
    <form
      *ngIf="!showSuccessMassage"
      [formGroup]="myRecForm"
      (ngSubmit)="onRecFormSubmit()"
    >
      <div class="form-item mb-4">
        <label class="h6" for="name">Enter email:-</label>

        <!-- form item -->
        <input
          type="text"
          class="form-control"
          placeholder="Enter email..."
          formControlName="email"
        />
        <small
          *ngIf="!formControl?.['email']?.valid && formControl?.['email']?.touched && !formControl?.['email']?.errors?.['minlength']"
          class="text-danger"
        >
          Please enter your valid email!
        </small>
      </div>

      <div class="form-btn d-flex align-items-center justify-content-between">
        <div class="left-btn">
          <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>
      </div>
    </form>

    <div
      *ngIf="showSuccessMassage"
      class="bg-success bg-opacity-25 py-3 px-4 mt-4 rounded"
    >
      <div class="success-title mb-3">
        <h3 class="text-success">Success!</h3>
        <h6 class="text-success">Password change successful.</h6>
      </div>
      <div class="back-anchor">
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
          <span>
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </span>
          {{ "GO TO EMAIL END CHANGE PASSWORD" | titlecase }}
        </a>
        <br />
        <a href="" routerLink="/">
          <span>
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </span>
          {{ "BACK TO LOGIN" | titlecase }}
        </a>
      </div>
    </div>
  </div>
</div>
